@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
}
.container{
    border-radius: 5px;
    width: 900px;
    padding: 20px;
    margin:auto;
}
.main-button{
    background-color:#E02C6D ;
    color: #fff ;
    font-family: 900;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 10px 35px;
}
/* ----------------see more styling---------- */
.see-more-section{
    float: right;
    padding-bottom: 20px;
}
.see-more-section a{
    text-decoration: none;
}
.see-more{
    color: #E02C6D;
    font-family: 900;
    font-size: 18px;
    outline: none;
    border: none;
}
.main-button:hover{
    cursor: pointer;
}
.header-items{
    display: flex;
    justify-content: center;
}
/* ----rating icon style---- */
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* -------collection part style------ */
.section-title{
    color: #3A3A3A;
    font-size: 28px;
    text-align: center;
    padding-bottom: 10px;
}
.collection-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px ;
}
.card{
    height: 500px;
    width: 310px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 22px ;
    box-shadow: 5px 10px 18px #d3cece;
    border-radius: 10px;
    justify-content: center;
}
/* ------------------testimonal styling------------- */
a{ 
    text-decoration: none; 
} 
#testimonials{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin-left:30%;
} 
.testimonial-heading{ 
    letter-spacing: 1px; 
    margin: 30px 0px; 
    padding: 10px 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 
.testimonial-heading h1{ 
    font-size: 2.2rem; 
    font-weight: 500; 
    background-color: #E02C6D; 
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 5px;
} 
.testimonial-heading span{ 
    font-size: 1.3rem; 
    color: #252525; 
    margin-bottom: 10px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
} 
.testimonial-box-container{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
} 
.testimonial-box{ 
    width:500px; 
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1); 
    border-radius: 10px;
    background-color: #ffffff; 
    padding: 30px; 
    margin: 15px; 
    cursor: pointer; 
} 
.profile-img{ 
    width:50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 10px; 
} 
.profile-img img{ 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
} 
.profile{ 
    display: flex; 
    align-items: center; 
} 
.customer-name{ 
    display: flex; 
    flex-direction: column; 
} 
.customer-name strong{ 
    color: #3d3d3d; 
    font-size: 1.1rem; 
    letter-spacing: 0.5px; 
} 
.customer-name span{ 
    color: #979797; 
    font-size: 0.8rem; 
} 
.reviews{ 
    color: #f9d71c; 
} 
.box-top{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
} 
.client-review p{ 
    font-size: 0.9rem; 
    color: #4b4b4b; 
} 
.testimonial-box:hover{ 
    transform: translateY(-10px); 
    transition: all ease 0.3s; 
} 
@media(max-width:1060px){ 
    .testimonial-box{ 
        width:45%; 
        padding: 30px; 
    } 
} 
@media(max-width:790px){ 
    .testimonial-box{ 
        width:100%; 
    } 
    .testimonial-heading h1{ 
        font-size: 1.4rem; 
    } 
} 
@media(max-width:340px){ 
    .box-top{ 
        flex-wrap: wrap; 
        margin-bottom: 10px; 
    } 
    .reviews{ 
        margin-top: 10px; 
    } 
} 
::selection{ 
    color: #ffffff; 
    background-color: #252525;

}
/* --------Responsive part styling---------- */
/* -----------for mobile-devices----------- */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .header{
        padding: 0 2%;
    }
    .section-title1{
        text-align: center;
    }
    .header, .collection-card{
        grid-template-columns: repeat(1 , 1fr);
    }
    .card , .header-items{
       flex-direction: column;
    }  
    
} 
/* -----------for tab-devices----------- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .header, .collection-card{
        grid-template-columns: repeat(2 , 1fr);
    }
    .card, .header-items{
        flex-direction: column;
    }
    
} 
/* -----------for large-screen----------- */
@media only screen and (min-width:993px) and (max-width:1312px) {
    .container{
        width: 100%;
    }
} 
/* ----------------ANIMATION------------ */
.position{
    position: absolute;
}
.wrapper{
    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}
h1{
    overflow: hidden;
}
.content{
    color: #E02C6D;
}
.content span{
    transform: translate(-300px , 0) scale(0);
    animation: animate 3s forwards;
    display: inline-block;
}
.content span:nth-of-type(2){
    animation-delay: .1s;
}
.content span:nth-of-type(3){
    animation-delay: .2s;
}
.content span:nth-of-type(4){
    animation-delay: .3s;
}
.content span:nth-of-type(5){
    animation-delay: .4s;
}
.content span:nth-of-type(6){
    animation-delay: .5s;
}
.content span:nth-of-type(7){
    animation-delay: .6s;
}
.content span:nth-of-type(8){
    animation-delay: .7s;
}
.content span:nth-of-type(9){
    animation-delay: .8s;
}
.content span:nth-of-type(10){
    animation-delay: .9s;
}

@keyframes animate{
    60%{
      transform: translate(20px,0) scale(1);
    }
    80%{
      transform: translate(20px,0) scale(1);
    }
    99%{
      transform: translate(0) scale(1.2);
    }
    100%{
      transform: translate(0) scale(1);
      opacity: 1;
    }
    
}


/* ----------footer styling------- */
footer{
    
    color: white;
    text-align: center;
    background-color: #0A0826;
    padding: 40px;
    margin-top: 60px;
}
footer .fab{
    color:white;
    margin: 20px 2px;
}